<!-- http://guides.rubyonrails.org/form_helpers.html --> 
<!-- http://railscasts.com/episodes/196-nested-model-form-part-1 -->
   
  <div class="field">
    <%= tmx.label :name, "File Language" %>
    <%= tmx.collection_select(:language_id, Language.all, :id, :name) %><br />
  </div>
  <div class="field">
    <%= tmx.radio_button("source", true) %>
    <%= tmx.label :source, "This is the source document" %><br />
    <%= tmx.radio_button("source", false, :checked => true ) %> 
    <%= tmx.label :target, "This document was translated from source" %><br />
  </div>
  <div class="field">
    <%= tmx.label :data, "TMX file" %>
    <%= tmx.file_field :data %>
  </div>
  <br />


