<h1>Listing tmxfiles</h1>

<table>
  <tr>
    <th>Data</th>
    <th>Source</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tmxfiles.each do |tmxfile| %>
  <tr>
    <td><%= tmxfile.data %></td>
    <td><%= tmxfile.source %></td>
    <td><%= link_to 'Show', tmxfile %></td>
    <td><%= link_to 'Edit', edit_tmxfile_path(tmxfile) %></td>
    <td><%= link_to 'Destroy', tmxfile, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tmxfile', new_tmxfile_path %>
